/*============================================
          COMMON-CSS-PART-START
============================================*/
nav{
    background-color:  #1C1E53;
    padding:16px 0px !important;
}
a{
 text-decoration: none;
}
ul,li{
 list-style: none;
}
/*============================================
     COMMON-CSS-PART-END
============================================*/
/*============================================
          NAVBAR-PART-START
============================================*/
.navbar-nav{
 column-gap: 32px;
}
.nav-link{
 font-size: 16px;
 font-weight: 500;
 color: #BBBBCB;
 transition: .4s;
 font-family: "poppins", sans-serif;
 padding-left:0px !important;
 padding-right: 0px !important;
}
.nav-link:hover{
 color: #fff;
}
.nav-btn{
 border: 1px solid rgba(244, 246, 252, 0.20);
 border-radius: 41px;
 padding: 16px 48px;
 color: #fff;
 font-size: 16px;
 font-weight: 500;
 font-family: "poppins", sans-serif;
 transition: .4s;
 margin-left: 48px;
 display: inline-block;
}
.nav-btn:hover{
 background-color: #FCD980;
 color: #000;
}

/*============================================
             NAVBAR-PART-END
============================================*/
/*============================================
             BANNER-PART-START
============================================*/
.banner1{
 background-color: #1C1E53;
 padding: 126px 0px 128px 0px;
}
.banner1 h1{
 font-size: 54px;
 font-weight: 600;
 color: rgb(248, 247, 247);
 line-height: 74px;
 font-family: "poppins", sans-serif;
}
.banner1 p{
 width:562px ;
 font-size: 16px;
 font-weight: 500;
 color: rgba(255, 255,255,0.70);
 line-height: 28px;
 font-family: "poppins", sans-serif;
 padding: 38px 0px 48px 0px;
}
.banner1 .btn{
 border: 1px solid rgba(244, 246, 252, 0.20);
 border-radius: 41px;
 padding: 16px 48px;
 background-color: #FCD980;
 color: #070707;
 font-size: 18px;
 font-weight: 600;
 font-family: "Manrope", sans-serif;
 transition: .4s;
}
.banner1 .btn:hover{
 background-color:rgb(13, 13, 13) ;
 color: wheat;
}
.banner1 .view{
 font-size: 16px;
 font-weight: 500;
 font-family: "poppins", sans-serif;
 color: #f4f4f7;
 position: relative;
 margin-left: 30px;
}
.banner1 .view i{
 position: absolute;
 top: 50%;
 left: 107px;
 transform: translateY(-50%);
 transition: 0.4s;
}
.banner1 .view:hover i{
 left: 170px;
 color: #1C1E53;
}
/*============================================
             BANNER-PART-END
============================================*/
/*============================================
             WORK-PART-START
============================================*/
.work-part{
 background-color: #F4F6FC;
 padding: 125px 0px 75px 0px;
}
.work-part h2{
font-size:48px ;
font-weight: 700;
color:  #282938;
}
.work-part p{
    width: 405px;
 font-size: 16px;
 font-weight: 400;
 font-family: "poppins", sans-serif;
 color: #282938;
}
.work-part .btn{
 font-size: 16px;
 font-weight: 500;
 font-family: "poppins", sans-serif;
 color: #2405F2;
 position: relative;
}
.work-part i{
 position: absolute;
 top: 50%;
 left: 175px;
 transform: translateY(-50%);
 transition: 0.4s;
 color: #f8f8fa;
}
.work-part .btn:hover i{
 left: 225px;
 color: #2405F2;
}
.work-part .col-lg-7 .col-lg-6 h3{
 font-size: 32px;
 font-weight: 500;
 font-family: "poppins", sans-serif;
 padding: 24px 0px 5px 0px;
}
.work-part .col-lg-7 .col-lg-6 p{
    width: 303px;
 font-size: 16px;
 font-weight: 400;
 font-family: "poppins", sans-serif;
 padding-bottom: 50px;
}
/*===========================================
             WORK-PART-END
============================================*/
/*===========================================
             PROJECT-PART-START
============================================*/
.project{
 padding: 128px 0px;
}
.project .box{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.project .box h1{
 font-size: 48px;
 font-weight: 700;
 font-family: "poppins", sans-serif;
}
.project .box a{
 color: #0d0d0d;
 font-size: 16px;
 font-weight: 500;
 margin-right: 35px;
 position: relative;
}
.project .box a i{
 position: absolute;
 top: 56%;
 left: 96px;
 transform: translateY(-50%);
  transition: 0.4s;
}
.project .box a:hover i{
 left: 120px;
}
.project .row{
    padding-top: 65px;
}
.project .col-lg-8{
 position: relative;
 overflow: hidden;
}
.project .row .one{
 width: 49%;
 height: 100%;
 background-image: linear-gradient(to top,#1C1E53 ,rgba(28, 30, 83,0.42));
 padding: 290px 0px 0px 65px;
 transition: .4s;
 position: absolute;
 top: 0px;
 left:-439px;
}
.project .col-lg-8:hover .one{
 left: 0px;
}
.project .col-lg-8 .one h4{
 width: 313px;
 font-size: 24px;
 font-weight: 700;
 color: #ffff;
 line-height: 45px;
 font-family: "poppins", sans-serif;
}
.project .col-lg-8 .one p{
 width: 293px;
 font-size: 16px;
 font-weight: 500;
 color: #ffff;
 padding: 12px 0px;
 line-height: 35px;
 font-family: "poppins", sans-serif;
}
.project .col-lg-8 .one a{
    color: #FCD980;
    position: relative;
}
.project .col-lg-8 .one a i{
  position: absolute;
  top: 54%;
  left: 95px;
  transform: translateY(-50%);
  transition: .4s;
}
.project .col-lg-8 .one a:hover i{
    left: 150px;
}
.project .col-lg-4{
position: relative;
overflow: hidden;
}
.project .row .two{
 width: 405px;
 height: 50%;
 padding: 135px 0px 0px 60px;
 background-image: linear-gradient(to top,#1C1E53 ,rgba(28, 30, 83,0.42));
 transition: .4s;
 position: absolute;
 top: -301px;
 left:11px;
}
.project .col-lg-4:hover .two{
 top: 0px;
}
.project .row .two h5{
 width: 280px;
 font-size: 24px;
 font-weight: 600;
 color: white;
 line-height: 36px;
 font-family: "poppins", sans-serif;
}
.project .col-lg-4 a{
 color: #FCD980;
 position: relative;
}
.project .col-lg-4 .two a i{
  position: absolute;
  top: 52%;
  left: 105px;
  transform: translateY(-50%);
  transition: .4s;
}
.project .col-lg-4 .two a:hover i{
    left: 150px;
}
.project .col-lg-4 .three{
 padding-top: 32px;
}
 /*===========================================
             PROJECT-PART-END
============================================*/
/*===========================================
             FEATURES-PART-START
============================================*/
.features{
 background-color: #F4F6FC;
 padding: 128px 0px;
}
.features .five{
 display: flex;
 justify-content: center;
}
.features .five p{
 font-size: 16px;
 font-weight: 500;
 font-family: "poppins", sans-serif;
}
.features .five h4{
 font-size: 48px;
 font-weight: 700;
 width: 630px;
 line-height: 60px;
 font-family: "poppins", sans-serif;
 text-align: center;
}
.features .row .col-lg-4{
 width: 406px;
 height: 316px;
 background-color: #FFFFFF;
 padding-top: 90px;
 padding-left: 40px;
}
.features .row{
    row-gap: 28px;
    column-gap: 28px;
    padding-top: 30px;
}
.features .row .col-lg-4 i{
 font-size: 24px;
 color: #0a11d9;
 padding-bottom: 20px;
}
.features .row .col-lg-4 p{
     width: 325px;
    font-size:16px ;
    font-weight: 400;
    font-family: "poppins", sans-serif;
}
.features .row .col-lg-4 h2{
    font-size: 24px;
    font-weight: 500;
    font-family: "poppins", sans-serif;
}
/*===========================================
             FEATURES-PART-END
============================================*/
/*===========================================
             WHAT-PART-START
============================================*/
.what{
 background-color: #F4F8FC;
 padding: 130px 0px;
}
.what .col-lg-4 h4{
 font-size: 38px;
 font-weight: 700;
 width: 350px;
 font-family: "poppins", sans-serif;
}
.what .col-lg-4 p{
 font-size: 16px;
 font-weight: 400;
 width: 350px;
 padding-top: 16px;
 font-family: "poppins", sans-serif;
}
.what .col-lg-8 h5{
 font-size: 32px;
 font-weight: 500;
 line-height: 48px;
 padding-bottom: 54px;
 font-family: "poppins", sans-serif;
}
.what .col-lg-8 div{
    display: flex;
}
.what .col-lg-8 img{
 width: 52px;
 height: 52px;
}
.what .col-lg-8 h6{
 font-size: 18px;
 font-weight: 500;
 padding: 5px 0px 0px 11px;
 font-family: "poppins", sans-serif;
}
.what .col-lg-8 h6 p{
 font-size: 12px;
 font-weight: 500;
 padding-top: 6px;
 font-family: "poppins", sans-serif;
}
/*===========================================
             WHAT-PART-END
============================================*/
/*===========================================
             FRE-PART-START
============================================*/
.fre{
  padding: 135px 0px 125px 0px;
}
 .fre .col-lg-4 h5{
 width: 328px;
 font-size: 38px;
 font-weight: 600;
 line-height: 56px;
 font-family: "poppins", sans-serif;
}
.fre .col-lg-4 p{
 font-size: 18px;
 font-weight: 500;
 color: #2405F2;
 font-family: "poppins", sans-serif;
}
.fre .col-lg-8 .accordion-item {
 border: 0px !important;
 border-bottom: 1px solid rgb(20, 8, 7) !important;
}
.fre .col-lg-8 .accordion-button:not(.collapsed) { 
    background-color: rgba(98, 140, 200,0.5) !important;
    box-shadow: inset 0 calc(-0 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color) !important;
}
.fre .col-lg-8 .accordion{
 --bs-accordion-btn-focus-box-shadow: 0 0 0 0.0rem !important;
}
.fre .col-lg-8 span{
 font-size: 24px;
 font-weight: 500;
 font-family: "poppins", sans-serif;
 color: #2405F2;
 padding-right: 60px;
}
.fre .col-lg-8 .accordion-button{
 font-size: 24px;
 font-weight: 500;
 font-family: "poppins", sans-serif;
}
.fre .col-lg-8 p{
 font-size: 18px;
 font-weight: 500;
 font-family: "poppins", sans-serif;
}
.fre .col-lg-8 .accordion-button:not(.collapsed)::after{ 
  background-image: none;
  content: "x";
  transform:translateY(-50), rotate(0);
}
.accordion-button::after{
 background-image: none;
 content: "+";
 transform:translateY(-50), rotate(0);
}
/*===========================================
             FRE-PART-END
============================================*/
/*===========================================
             BUILDING-PART-START
============================================*/
.building{
 padding-bottom: 80px;
}
.building .col-lg-6 .imeg{
 position: relative;
}
.building .col-lg-6 img{
 width: 100%;
}
.building .col-lg-6 .imeg .nine{
 width: 100%;
 height: 100%;
 background-image: linear-gradient(rgba(28, 30, 83,0.5));
 padding: 106px 110px 260px 94px;
 position: absolute;
 top: 0;
 left: 0;
}
.building .col-lg-6 .imeg .nine h6{
 font-size: 54px;
 font-weight: 600;
 color: #f5f5f5;
 line-height: 74px;
 font-family: "poppins", sans-serif;
}
.building .col-lg-6 .imeg .nine p{
 font-size: 16px;
 font-weight: 500;
 color: #f6f2f2;
 padding-top: 30px;
 line-height: 28px;
 font-family: "poppins", sans-serif;
}



.building .col-lg-6 .content{
    width: 100%;
    background-color: #1C1E53;
}
.building .col-lg-6 .content form{
   padding: 110px 110px 45px 96px;
}
.building .col-lg-6 .content form input{
  width: 100%;
  padding: 25px 32px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #1C1E53 ;
  border: 1px solid rgba(255, 255, 255,0.05);
}
.building .col-lg-6 .content form input::placeholder{
 font-size: 16px;
 font-weight: 400;
 color: #F4F6FC;
 font-family: "poppins", sans-serif;
}

.building .col-lg-6 .content h4{
   font-size: 32px;
   font-weight: 500;
   color: #ffff;
   font-family: "poppins", sans-serif;
}
.building .col-lg-6 .content p{
    padding: 30px 0px 45px 0px;
   font-size: 16px;
   font-weight: 500;
   color: #ffff;
   font-family: "poppins", sans-serif;
}
.building .col-lg-6 .content form button{
  width: 100%;
  padding: 25px 0px;
  border-radius: 41px;
  margin: 25px 0px;
  background-color: #FCD980;
  border: 0;
   font-size: 18px;
   font-weight: 600;
   color: #1B1C2B;
   font-family: "poppins", sans-serif;
}
.building .col-lg-6 .content form .five{
   position: relative;
   padding-left: 98px;
   font-size: 18px;
   font-weight: 500;
   color: #ffff;
   font-family: "poppins", sans-serif;
}
.building .col-lg-6 .content form .five i{
   position: absolute;
  top: 55%;
  left: 290px;
  transform: translateY(-50%);
  transition: .4s;
}
.building .col-lg-6 .content form .five:hover i{
  left: 320px;
}
.building .row>* {
 padding-right: calc(var(--bs-gutter-x) * .0);
 padding-left: calc(var(--bs-gutter-x) * .0);
}
/*===========================================
             BUILDING-PART-END
============================================*/
/*===========================================
             BLOG-PART-START
============================================*/
.blog{
 padding-bottom: 180px;
}
.blog h5{
 font-size: 48px;
 font-weight: 600;
  font-family: "poppins", sans-serif;
  padding-bottom: 63px;
}
.blog .col-lg-4 h6{
 font-size: 16px;
 font-weight: 500;
  font-family: "poppins", sans-serif;
  padding: 35px 0px 30px 0px ;
}
.blog .col-lg-4 h3{
 font-size: 24px;
 font-weight: 600;
 line-height: 35px;
  font-family: "poppins", sans-serif;
}
.blog .col-lg-4 p{
    width: 405px;
 font-size: 16px;
 font-weight: 400;
 line-height: 25px;
  font-family: "poppins", sans-serif;
  padding: 25px 0px 16px 0px ;
}
.blog .col-lg-4 .six{
 position: relative;
 font-size: 16px;
 font-weight: 500;
 color: #000;
 font-family: "poppins", sans-serif;
}
.blog .col-lg-4 .six i{
  position: absolute;
  top: 55%;
  left: 101px;
  transform: translateY(-50%);
  transition: .4s;
}
.blog .col-lg-4 .six:hover i{
  left: 145px;
}
/*===========================================
             BLOG-PART-END
============================================*/
/*===========================================
            TALK-PART-START
============================================*/
 .talk{
  background-color: #1C1E53;
  padding: 100px 0px 0px 0px;
 }
 .talk .col-lg-6 .ten{
 display: flex;
 width: 517px;
 column-gap: 45px;
 padding: 25px 0px 15px 25px ;
 background-color: #FCD980;
 }
 .talk .col-lg-6 .one{
 margin: 30px 0px 86px 0px;
 width: 399px;
 font-size: 16px;
 font-weight: 500;
 color: #FFFFFF;
 font-family: "poppins", sans-serif;
 }
 .talk .col-lg-6 ul{
  display: flex;
  color: #FFFFFF;
  column-gap: 25px;
  padding-left: 0;
 }
 .talk .col-lg-6 ul:hover li{
  color: #05ef2c;
 }
 .talk .col-lg-6 h4{
  font-size: 48px;
 font-weight: 600;
 color: #FFFFFF;
 font-family: "poppins", sans-serif;
 }
 .talk .col-lg-6 .two{
 width: 399px;
 font-size: 16px;
 font-weight: 400;
 color: #FFFFFF;
 padding: 10px 0px 6px 0px;
 font-family: "poppins", sans-serif;
 }
/*===========================================
             TALK-PART-END
============================================*/
/*===========================================
            FOOTER-PART-START
============================================*/
footer{
  padding: 38px 0px;
}
footer h6{
  font-size: 16px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
}
footer ul{
  display: flex;
  column-gap: 32px;
  padding-left: 156px;
}
footer a{
  font-size: 16px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
  color: rgb(12, 12, 12);
}
/*===========================================
            FOOTER-PART-END
============================================*/